body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
}

h1 {
    color: green;
}

p
.container {
    text-align: center;
    
}

.left-container {
    background-color: red;
    float: left;
    height: 250px;
    min-width: 50%;

}

.right-container {
    background-color: green;
    float: right;
    height: 250px; 
    min-width: 50%;
}

button {
    padding: 15px;
    background-color: blue;
    color: white; 
    border-radius: 15px;
    margin-top: 50px;
}

.christina {
    margin: 50px, 50px; 

}